/*---------------NavBar---------------*/
.box {
  box-sizing: border-box;
}


.header {

    background-color: #8B0000;

    padding: 24px;

    text-align: center;
}


.navbar {

  overflow: hidden;

  background-color: #333;
}


.navbar a {

  float: right;

  display: block;

  color: #8B0000;

  text-align: center;

  padding: 23px 26px;

  text-decoration: none;

}

.navbar a:hover{

background-color: #8B0000;

color: beige;

}

/*---------------Shop---------------*/

.Shop_Header{
text-align: center;
}

.Shop_Row{

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 25vw;
}
