.box {
  box-sizing: border-box;
}


.header {

    background-color: #8B0000;

    padding: 24px;

    text-align: center;
}


.body {

  overflow: hidden;

  background-color: #333;
}


.body a {

  float: right;

  display: block;

  color: #8B0000;

  text-align: center;

  padding: 22px 26px;

  text-decoration: none;

}


.body a:hover {

    background-color: #ddd;

    color: black;

}