
/*---------------NavBar---------------*/
.nav_bar {
  
  display: flex;
  justify-content: space-between;
  
  background-color: lightgray;
  
}




.nav_bar a {

  float: right;

  color: #8B0000;

  text-align: center;

  font-weight: bold;

  padding: 23px 26px;


  font-size: 20px;

  text-decoration: none;

}

.nav_bar a:hover{

background-color: #8B0000;

color: beige;
transition: 0.2s;

}

/*---------------Shop---------------*/
.Shop_body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(0, 0, 0, 0.3)), url(Pictures/ottawa\ backround.png) no-repeat center center;

  background-size: cover;
  margin: 0px;

}


.Shop_Header{
text-align: center;

justify-content: center;

}

.Shop_Row{
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top:0px;
}

.Paid_Button{
  background-color: lightgray;
  border: none;
  color: black;
  padding: 15px 32px;
  margin-bottom: 1;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 70px;
  margin-left: 9vw;
  margin-top: 1vw;
  
}

.Paid_Button:hover {
  background-color: darkgrey;
  transition: 0.7s;
}

.grey{
color: darkgray;
font-size: 20px;
}
.Filled_text{
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.Shop_Header{
  font-size: 18px;
  margin-bottom: 100px;
}
.Shop_Header h1{
  margin-top: 0px;
  padding-top: 30px;
}
.Plan{
  background-color: #8B0000;
  width: 350px;
  margin-right: 35px;
  margin-left:35px;
}
.Plan1Header{
  background-color: #8B0000;
  color: white;
  text-align: center;
  
}

.Plan1Features{
  background-color: lightgray;
  padding: 10px 0px 10px 0px;
}

.Plan1Prices{
  background-color: #8B0000;
  color: white;
  text-align: center;
  margin-top: 2vw;
  font-size: 10px;
}

.PlanButton{
  padding-bottom: 10px;
} 
 em{
  font-family: 'Times New Roman', serif;
  font-size: 40px;

}
.Plan:hover{
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
.OpenApp{
  padding-top: 30px;
  padding-left: 44vw;
}
.Plan:hover{
  transform: scale(1.15);
  transition: 0.2s ease-in-out;
}
/*---------------Download---------------*/